<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/voting-page.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <title>Cast your Vote!</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <h1>2024 Nigeria General Election</h1>
            <h2>Give Your Vote</h2>
            <form @submit.prevent="submitVote">
                <table>
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Candidate Name</th>
                            <th>Party</th>
                            <th>Age</th>
                            <th>Symbol</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="candidate in candidates" :key="candidate.id">
                            <td><input type="radio" v-model="selectedCandidate" :value="candidate.id"></td>
                            <td><img :src="candidate.image" :alt="candidate.name" class="candidate-img"> {{ candidate.name }}</td>
                            <td>{{ candidate.party }}</td>
                            <td>{{ candidate.age }}</td>
                            <td><img :src="candidate.symbol" :alt="candidate.symbol" class="candidate-img"></td>
                        </tr>
                    </tbody>
                </table>
                <button class="vote-button">
                    <a href="./vote-confirmation.html">
                        <i class='bx bx-right-arrow-alt'></i> Vote</a></button>
                    </a>
                </button>
            </form>
        </div>
    </div>
    <script src="../Javascript/voting-page.js"></script>
</body>
</html>
