@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body {
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.ten-digit,
.questions {
    margin-bottom: 20px;
}

.ten-digit p {
    font-size: 16px;
    color: #333;
}

input[type="password"],
input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.security-question {
    margin-bottom: 15px;
}

.security-question span {
    font-size: 14px;
    color: #666;
}

input.question-answer {
    margin-top: 5px;
}
.submit-btn{
    background-color: antiquewhite;
    color: black;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    max-width: 400px;
}