*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    max-height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    gap: 20px;
}
.image-container
{
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(../images/Vote.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
   display: flex;
   justify-content:end;
   align-items: start;
   margin: 10px;
    margin-left: 50px;
    height: 95vh;
    margin-top: 20px;
}
.sign-up-container
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-container
{
    margin-top: 10%;
    text-align: center;
}
.text-container h2
{
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
}
.text-container p
{
    font-size: 22px;
    padding-bottom: 20px;
}
.sign-in-form input
{
    padding: 20px;
    margin-bottom: 15px;
    width: 240px;
}
.error{
    color: red;
    font-size: 12px;
}
.subButton
{
    padding: 20px;
    cursor: pointer;
    width: 190px;
    font-weight: 600;
    background-color: antiquewhite;
    border-radius: 10px;
    border: none;
    transition: 0.2s;
}
.subButton:hover
{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.258);
}
.createButton
{
    padding: 10px 20px 10px 15px;

    background-color: antiquewhite;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.createButton a
{
    color: black;
    text-decoration: none;
}
@media screen and (max-width:668px) {
    .container
    {
        display: flex;
        flex-direction: column;
        background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(../images/loginImage.jpeg);
        background-position: center;
        background-size: cover;
        gap: 0;
    }
    .image-container
    {
        background-image: none;
    }
 
    .text-container
    {
        margin: 0;
        color: antiquewhite;
    }
   .subButton
    {
        color: antiquewhite;
        background-color: black;
        margin-bottom: 20px;
    }
}
